<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ぬこたん雷舞集計</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

	<link rel="stylesheet" href="/nukotan/css/tablesorter/style.css">
	<link rel="stylesheet" href="/nukotan/css/tablesorter/style.pager.css">
	<script type="text/javascript" src="/nukotan/js/tablesorter/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="/nukotan/js/tablesorter/addons/pager/jquery.tablesorter.pager.js"></script>
	
  </head>

  <body>
  	<script>
  		$(document).ready(function(){
  			$('#myTable')
  			.tablesorter({
  				sortList: [[1, 1]],
  				widgets: ['zebra']
  			});
  		});
  	</script>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="/">nuko-tan.appspot.com</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/live_count">ぬこたん雷舞集計</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/song_ranking">ぬこたん楽曲ランキング生成</a>
        </li>
      </ul>
    </nav>

	<div class="container">
		<div class="page-header">
			<h1>ぬこたん雷舞集計</h1>
		</div>
	</div>

	<div class="container">
		<form action="/live_count" method="GET">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="tour">ツアータイトル:</label>
						<select class="form-control" name="tour">
							{% for tour in tours_uniq %}
							<option id='{{ tour }}'>{{ tour }}</option>
							{% endfor %}
						</select>
					</div>			
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="place">会場:</label>
						<select class="form-control" name="place">
							{% for place in places_uniq %}
							<option id='{{ place }}'>{{ place }}</option>
							{% endfor %}
						</select>
					</div>			
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="period">From:</label>
						<div class="input-group date" id="date_from">
							<input text="text" class="form-control" name="date_from">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="period">To:</label>
						<div class="input-group date" id="date_to">
							<input text="text" class="form-control" name="date_to">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(function() {
						$('#date_from').datetimepicker({
							format: 'YYYY-MM-DD'
						});
						$('#date_to').datetimepicker({
							useCurrent: false,
							format: 'YYYY-MM-DD'
						});
						$("#date_from").on("dp.change", function (e) {
							$('#date_to').data("DateTimePicker").minDate(e.date);
						});
						$("#date_to").on("dp.change", function (e) {
							$('#date_from').data("DateTimePicker").maxDate(e.date);
						});
					});
				</script>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="container">
		<p>検索条件(*´Д`)ﾊｧﾊｧ</p>
		<ul>
		{% for key, val in conditions.items() %}
		<li>{{ key }}<ul><li>{{ val }}</li></ul></li>
		{% endfor %}
		</ul>
	</div>
	<div class="container">
		<table id="myTable" class="tablesorter">
			<thead>
				<tr>
					<th class="header">Title</th>
					<th class="header headerSortDown">Count</th>
				</tr>
			</thead>
			<tbody>
				{% for key, val in setlists_count.items() %}
				<tr>
				<td>{{ key }}</td><td>{{ val }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
    <footer class="center-block">
      <p>&copy; <a href="http://nukomamma.jugem.jp">BlachChubby</a></p>
    </footer>

  </body>
</html>
{% endautoescape %}